<%= link_to "Submit a new link", new_link_path %>


<table>
	<% @links.each do |link| %>
		<tr id=<%= "link_id_#{link.id}" %>>
			<td><%= link_to link.title, link.url %></td>
			<td><%= link_to 'Upvote' %></td>
			<td data-role='score' ><%= link.score %></td>	
		</tr>
	<% end %>
</table>




